* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #3a545f;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.calculator {
    width: 250px;
    border-radius: 15px;
    padding: 10px;
    background-color: #000000;
}

table td {
    display: inline-block;
}

.btn {
    margin: 3px;
    width: 50px;
    height: 40px;
    cursor: pointer;
    border: none;
    background-color: #0a141a;
    color: #dfdfdf;
    font-size: 16px;
    transition: all 500ms ease-in-out;
    border-radius: 5px;
    box-shadow: 1px 2px 2px #fff;
}

.btn:hover {
    background-color: #162f3b;
}

.c {
    background-color: #811010;
}

.c:hover {
    background-color: #d31111;
}

.igual {
    background-color: #1b4b72;
}

.igual:hover {
    background-color: #258e96;
}

.result {
    height: 120px;
    color: #fff;
    text-align: right;
    font-size: 35px;
    word-wrap: break-word;
    border-bottom: 1px solid #fff;
    overflow: hidden;
}
