.App {
  text-align: center;
}

.App-main {
  background-image: linear-gradient(45deg, #293244, #282c34);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

table td {
  display: inline-block;
}

.calculator {
  border-radius: 15px;
  padding: 10px;
  background-color: #000807;
  border: 1px solid #61dafb;
}

.btn {
  margin: 3px;
  width: 50px;
  height: 40px;
  cursor: pointer;
  border: none;
  background-color: #0c1a21;
  color: #dfdfdf;
  font-size: 16px;
  transition: all 500ms ease-in-out;
  border-radius: 5px;
}

.btn:hover {
  background-color: #162f3b;
}

.ac {
  background-color: #1b7269;
  width: 6.7rem;
}

.ac:hover {
  background-color: #228f84;
}

.special {
  background-color: #228f84;
}

.special:hover {
  background-color: #18646b;
}

.equal {
  background-color: #1b7269;
  width: 6.7rem;
  
}

.equal:hover {
  background-color: #25968a;
}

.result {
  height: 60px;
  color: #dfdfdf;
  text-align: right;
  font-size: 35px;
  word-wrap: break-word;
  border-bottom: 1px solid #61dafb;
}